---
extends: default

rules:
  # The GitHub editor is 127 chars wide
  line-length:
    max: 127
    level: error
  new-lines: disable

  # Jobs "need" are expected to contain non-boolean values
  truthy: disable
